@model CompanyMng.Models.Employee
@{
    ViewBag.Title = "Index";
}

@if (TempData["Msg"] != null)
{
    <h3>
        @TempData["Msg"].ToString()
    </h3>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container" style="width:40%" ;margin-top:2%>
    <table class="table table-responsive">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Department</th>
            <th>Email</th>
            <th>BirhtDate</th>
        </tr>
        <tbody>
            @if (ViewBag.EmployeeList != null)
            {
                foreach (var item in ViewBag.EmployeeList)
                {
                    <tr id="row_@item.EmployeeID">
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Department.DepartmentName</td>
                        <td>@item.Email</td>
                        <td>@item.BirthDate</td>
                        <td><a href="#" class="btn btn-danger" onclick="ConfirmDelete(@item.EmployeeID)"><i class="glyphicon glyphicon-trash"></i></a></td>
                        <td><a href="#" class="btn btn-success" onclick="ShowEmployee(@item.EmployeeID)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                        <td><a href="#" class="btn btn-success" onclick="AddEditEmployee(@item.EmployeeID)"><i class="glyphicon glyphicon-pencil"></i></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="#" class="btn btn-primary" onclick="AddEditEmployee(0)">New</a>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dissmiss="modal" onclick="Close()">&times;</a>
                    <h3 class="modal-title">AddEdit Employee</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Delete Employee</h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure ? You want to delete this. </h4>

                    <div style="text-align:center;display:none" id="loaderDiv">
                        <img src="~/Content/loading.png" width="150" />
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
                </div>

            </div>

        </div>

    </div>


    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">ShowEmployee</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv">


                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

                </div>

            </div>

        </div>

    </div>

    <input type="hidden" id="hiddenEmployeeId" />
</div>

<script>
    function AddEditEmployee(employeeId)
    {
        var url = "/EmployeeModal/AddEditEmployee?EmployeeID=" + employeeId;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }

    var ConfirmDelete = function (EmployeeId) {

        $("#hiddenEmployeeId").val(EmployeeId);
        $("#myModal").modal('show');

    }

    var DeleteEmployee = function () {

        $("#loaderDiv").show();

        var empId = $("#hiddenEmployeeId").val();

        $.ajax({

            type: "POST",
            url: "/EmployeeModal/DeleteEmployee",
            data: { EmployeeId: empId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + empId).remove();

            }

        })

    }

     function ShowEmployee(employeeId) {

        var url = "/EmployeeModal/ShowEmployee?EmployeeID=" + employeeId;
        
        $("#myModalBodyDiv").load(url, function () {
            $("#myModal2").modal("show");
        })
    }

    function Close()
    {
        $('#myModal1').modal('hide');
    }
</script>

