
@model CompanyMng.Models.Employee
<div>
    <form id="myForm">
        @Html.HiddenFor(m => m.EmployeeID)
        @Html.DropDownListFor(model => model.DepartmentID, ViewBag.DepartmentList as SelectList, "--select--", new { @class = "form-control" })
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "FirstName" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "LastName" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
        @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", @placeholder = "BirthDate" })
        <a href="#" id="btnSubmit" class="btn btn-success btn-block">
            @if (Model.EmployeeID > 0)
            {<span>Update</span> }
            else
            {<span>Save</span>}
    </a>
</form>
<div style="text-align:center;display:none" id="loaderDiv">
    <img src="~/Content/loading.png" width="150" />
</div>
</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/EmployeeModal/Index",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/EmployeeModal/Index";

                }
               
            })
        })

    })
</script>


